@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);
html, body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background-color: #B0E2FF;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

h3 {
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: black;
}

.light {
  opacity: 0.7;
}

.button {
  padding: 0 3rem;
  font-size: 100%;
  line-height: 44px;
  height: 48px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header {
  padding: 6rem 3rem;
  background: white;
  color: #000;
  text-align: center;
}

header h2 {
  margin-bottom: 0.5rem;
}

header h3 {
  color: white;
}

header .button.button-primary {
  margin-top: 2rem;
  background: white;
  color: #000;
  border-color: #B0E2FF;
  z-index: 999;
}

header .button.button-primary:hover,
header .button.button-primary:focus,
header .button.button-primary:active {
  background: #B0E2FF;
  color: #000;
  border-color: #B0E2FF;
  opacity: 0.8;
}

.logo {
  margin-bottom: 16px;
  text-align: center;
}

.logo img {
  display: inline-block;
  height: 300px;
  width: 300px;
  vertical-align: middle;
}

#inquiries, #faq {
  margin: 6rem 2rem;
  display: inline;
  padding-top: 1.5em;
  text-align: center;
}

#inquiries h1, #faq h1 {
  color: black;
  margin-top: 1.5em;
  margin-bottom: 2rem;
  text-align: center;
}

#inquiries h3, #faq h3 {
  color: black;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

#inquiries a, #faq a {
  color: #000;
}

#inquiries a:hover, #faq a:hover {
  color: white;
}

#inquiries .container, #faq .container {
  max-width: 640px;
}

#speakers .divider {
  border-bottom: 1px solid #E5E5E5;
  margin-top: 6em;
}

footer {
  background-color: black;
  position: relative;
  height: 60px;
  margin-top: 5rem;
  text-align: center;
  width: 100%;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  color: white;
}

footer img {
  height: 25px;
  float: left;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

footer #sponsor {
  padding-top: 1rem;
}
