@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

$LIGHT: #fff;
$DARK: #000;
$DARKBLUE: #302B54;
$ORANGE: #f4a853;
$PINK: #ff7dc4;
$GREEN: #52f562;

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// TYPOGRAPHY
html, body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: black;
}

h2 {
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

h3 {
    font-size: 100%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    color: black;
}

.light {
    opacity: 0.7;
}

.button {
    padding: 0 3rem;
    font-size: 100%;
    line-height: 44px;
    height: 48px;
    @include transition(all, 0.2s, ease-in-out);
}

// HEADER
header {
    padding: 6rem 3rem;
    background: $DARK;
    color: $LIGHT;
    text-align: center;

    h2 {
        margin-bottom: 0.5rem;
    }

    h3 {
        color: white;
    }

    .button.button-primary {
        margin-top: 2rem;
        background: $LIGHT;
        color: $DARK;
        border-color: $LIGHT;
        // make z-index high so that img is always in front and clickable
        z-index: 999;

        &:hover,
        &:focus,
        &:active {
            background: $LIGHT;
            color: $DARK;
            border-color: $LIGHT;
            opacity: 0.8;
        }
    }
}

.logo {
    margin-bottom: 16px;
    text-align: center;

    img {
        display: inline-block;
        height: 96px;
        width: 110px;
        vertical-align: middle;
    }
}

.shadowbox {
    position: relative;
    overflow: hidden;
    text-align: center;
    font: 900 8vmax/1 "Source Sans Pro", Arial, sans-serif;

    .header-text {
        position: relative;
        display: block;
        background: $DARK;
        color: white;
        mix-blend-mode: darken;
        line-height: 1.3;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0vmax -7vmax 12vmax 12vmax purple, 5vmax -7vmax 12vmax 12vmax violet, 10vmax -7vmax 12vmax 12vmax teal, 15vmax -7vmax 12vmax 12vmax orangered, 20vmax -7vmax 12vmax 12vmax yellow, 75vmax -7vmax 12vmax 12vmax crimson, 90vmax -7vmax 12vmax 12vmax yellowgreen, 35vmax -7vmax 12vmax 12vmax orange, 40vmax -7vmax 12vmax 12vmax darkturquoise, 45vmax -7vmax 12vmax 12vmax pink, 50vmax -7vmax 12vmax 12vmax coral, 0vmax 5vmax 12vmax 12vmax steelblue, 5vmax 5vmax 12vmax 12vmax turquoise, 10vmax 5vmax 12vmax 12vmax coral, 15vmax 5vmax 12vmax 12vmax skyblue, 20vmax 5vmax 12vmax 12vmax darkviolet, 75vmax 5vmax 12vmax 12vmax gold, 90vmax 5vmax 12vmax 12vmax purple, 35vmax 5vmax 12vmax 12vmax violet, 40vmax 5vmax 12vmax 12vmax teal, 45vmax 5vmax 12vmax 12vmax orangered, 50vmax 5vmax 12vmax 12vmax purple, 0vmax 12vmax 12vmax yellow, 5vmax 10vmax 12vmax 12vmax crimson, 10vmax 10vmax 12vmax 12vmax yellowgreen, 15vmax 10vmax 12vmax 12vmax orange, 20vmax 10vmax 12vmax 12vmax darkturquoise, 75vmax 10vmax 12vmax 12vmax pink, 90vmax 10vmax 12vmax 12vmax steelblue, 35vmax 10vmax 12vmax 12vmax turquoise, 40vmax 10vmax 12vmax 12vmax coral, 45vmax 10vmax 12vmax 12vmax skyblue, 50vmax 10vmax 12vmax 12vmax yellow, 15vmax 12vmax 12vmax darkviolet, 5vmax 15vmax 12vmax 12vmax gold, 10vmax 15vmax 12vmax 12vmax darkslateblue, 15vmax 15vmax 12vmax 12vmax purple, 20vmax 15vmax 12vmax 12vmax violet, 75vmax 15vmax 12vmax 12vmax teal, 90vmax 15vmax 12vmax 12vmax orangered, 35vmax 15vmax 12vmax 12vmax yellow, 40vmax 15vmax 12vmax 12vmax crimson, 45vmax 15vmax 12vmax 12vmax yellowgreen, 50vmax 15vmax 12vmax 12vmax green, 0vmax 20vmax 12vmax 12vmax orange, 5vmax 20vmax 12vmax 12vmax darkturquoise, 10vmax 20vmax 12vmax 12vmax pink, 15vmax 20vmax 12vmax 12vmax steelblue, 20vmax 20vmax 12vmax 12vmax turquoise, 75vmax 20vmax 12vmax 12vmax coral, 90vmax 20vmax 12vmax 12vmax skyblue, 35vmax 20vmax 12vmax 12vmax darkviolet, 40vmax 20vmax 12vmax 12vmax gold, 45vmax 20vmax 12vmax 12vmax darkslateblue, 50vmax 20vmax 12vmax 12vmax coral;
        -webkit-animation: shadows-cells 2.5s linear infinite;
        animation: shadows-cells 2.5s linear infinite;
    }

    &:after {
        content: '';
        position: absolute;
        top: -2px;
        right: -2px;
        bottom: -2px;
        right: -2px;
        display: block;
        border: 4px solid $DARK;
    }
}

#schedule {
    display: inline;

    h1 {
        margin-top: 1.5rem;
        text-align: left;
        color: white;
    }

    h3 {
        margin-top: 0.5rem;
        color: white;
        font-size: 100%;
        font-weight: 600;
        text-transform: none;
    }

    #left-schedule {
        width: 50%;
        float: left;
        background-color: #FFA500;
        height: 750px;

        #friday-schedule {
            width: 75%;
            margin: 0 auto;
            padding-top: 1.5em;

            .schedule-item {

                .time {
                    float: left;
                    width: 125px;
                }

                .hack-activity {
                    display: inline-block;
                    margin-left: 3rem;
                    font-weight: 600;
                    width: 250px;
                }
            }
        }
    }

    #right-schedule {
        width: 50%;
        float: right;
        background-color: #14d4ba;
        height: 750px;

        #saturday-schedule {
            width: 75%;
            margin: 0 auto;
            padding-top: 1.5em;

            .schedule-item {

                .time {
                    float: left;
                    width: 125px;
                }

                .hack-activity {
                    display: inline-block;
                    margin-left: 3rem;
                    font-weight: 600;
                    width: 250px;
                }
            }
        }
    }

    .container {
        max-width: 640px;
    }
}

#speakers, #faq {
    margin: 6rem 2rem;
    display: inline;
    padding-top: 1.5em;

    h1 {
        color: black;
        margin-top: 1.5em;
        margin-bottom: 2rem;
        text-align: center;
    }

    h3 {
        color: black;
        margin-top: 4rem;
        margin-bottom: 0.5rem;
    }

    .container {
        max-width: 640px;
    }
}

#speakers {
    .divider {
        border-bottom: 1px solid #E5E5E5;
        margin-top: 6em;
    }
}

footer {
    background-color: black;
    position: relative;
    height: 60px;
    margin-top: 5rem;
    text-align: center;
    width: 100%;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    color: white;

    img {
        height: 25px;
        float: left;
        margin-top: 1rem;
        margin-left: 0.5rem;
    }

    #sponsor {
        float: left;
        margin-top: 1rem;
        margin-left: 0.25rem;
    }

    #conduct {
        float: right;
        margin-top: 1rem;
        margin-right: 2rem;
    }

    #privacy {
        float: right;
        margin-top: 1rem;
        margin-right: 1rem;
    }
}

/*
// .orange { color: $ORANGE; }
// .pink { color: $PINK; }
// .green { color: $GREEN; }

// .confetti {
//     position: absolute;
//     z-index: 3;
//     opacity: 0.5;
//     width: 64px;
//     height: 64px;
//     transform: rotateZ(60deg);
//     left: 50px;
//     top: 200px;

//     g {
//         fill: yellowgreen;
//     }
// }

// .confetti.large {
//     width: 128px;
//     height: 128px;
// }

// .confetti.small {
//     width: 32px;
//     height: 32px;
// }

// #triangle2 {
//     top: 50px;
//     left: 70px;
//     transform: rotateZ(130deg);

//     g {
//         fill: pink;
//     }
// }

// #triangle3 {
//     top: 10px;
//     left: 900px;
//     transform: rotateZ(90deg);
// }

// #heart {
//     top: 70px;
//     right: 45vw;
//     left: auto;
//     transform: rotateZ(30deg);

//     g {
//         fill: cyan;
//     }
// }

// #triangle5 {
//     top: 320px;
//     left: 920px;
// }

// #triangle6 {
//     top: 250px;
//     right: 50px;
//     left: auto;
//     transform: rotateZ(-60deg);

//     g {
//         fill: darkslategray;
//     }
// }

// #triangle7 {
//     bottom: 50px;
//     right: 100px;
//     top: auto;
//     left: auto;
//     transform: rotateZ(-50deg);
// }
*/
